# Godot
.godot/
*.import
.export/
.export_presets.cfg

# OS
.DS_Store

# Node
node_modules/

# Runtime data
data/

# Editor swap
*.swp

# Apps in Toss build artifacts
**/toss-package/.granite/
**/toss-package/dist/
**/toss-package/*.ait
